{
  "reporter": [
    "lcov"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
    "Gruntfile.js",
    "lib/gripper.js",
    "lib/distance.js",
    "lib/ir.js",
    "lib/ping.js",
    "lib/pir.js",
    "lib/sonar.js",
    "lib/wii.js"
  ]
}

