language: node_js
node_js:
  - "0.10"
sudo: false
compiler: clang
before_script:
  - grunt test-examples
notifications:
  webhooks:
    urls:
      - "https://webhooks.gitter.im/e/2f6f94ff359a6445b59d"
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
